@tailwind base;
@tailwind components;
@tailwind utilities;

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */



@layer base {
  :root {

    --background: 0 0% 100%;

    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;

    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;

    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;

    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;

    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;

    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;

    --input: 0 0% 89.8%;

    --ring: 0 0% 3.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem
  }
  .dark {

    --background: 0 0% 3.9%;

    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;

    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;

    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;

    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;

    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;

    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;

    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;

    --input: 0 0% 14.9%;

    --ring: 0 0% 83.1%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.bg-image1{
  background-image: url("../src/assets/images/earbudsbanner.webp");
  background-size:cover ; 
  background-attachment: fixed;
  width: 100%;
    background-repeat: no-repeat;
     background-position: center;
  height: 100vh;

}
.bg-image2{
  background-image: url("../src/assets/images/headphonebanner.webp");
  background-size:cover ; 
  background-attachment: fixed;
  width: 100%;
    background-repeat: no-repeat;
     background-position: center;
  height: 100vh;

}
.bg-image3{
  background-image: url("../src/assets/images/neckbandsbanner.webp");
  background-size:cover ; 
  background-attachment: fixed;
  width: 100%;
    background-repeat: no-repeat;
     background-position: center;
  height: 100vh;

}
.bg-image4{
  background-image: url("../src/assets/images/speakers.webp");
  background-size:cover ; 
  background-attachment: fixed;
  width: 100%;
    background-repeat: no-repeat;
     background-position: center;
  height: 100vh;

}
.bg-image5{
  background-image: url("../src/assets/images/handsfreebanner.webp");
  background-size:cover ; 
  background-attachment: fixed;
  width: 100%;
    background-repeat: no-repeat;
     background-position: center;
  height: 100vh;

}


@media  screen and (max-width:700px) {
  .bg-image1{
  background-image: url("../src/assets/images/earbudsbanner.webp");
  background-size:cover ; 
  background-attachment: fixed;
  width: 100%;
    background-repeat: no-repeat;
     background-position: center;
  height: 100vh;

}
.bg-image2{
  background-image: url("../src/assets/images/headphonebanner.webp");
  background-size:cover ; 
  background-attachment: fixed;
  width: 100%;
    background-repeat: no-repeat;
     background-position: center;
  height: 100vh;

}
.bg-image3{
  background-image: url("../src/assets/images/neckbandsbanner.webp");
  background-size:cover ; 
  background-attachment: fixed;
  width: 100%;
    background-repeat: no-repeat;
     background-position: center;
  height: 100vh;

}
.bg-image4{
  background-image: url("../src/assets/images/speakers.webp");
  background-size:cover ; 
  background-attachment: fixed;
  width: 100%;
    background-repeat: no-repeat;
     background-position: center;
  height: 100vh;

}
.bg-image5{
  background-image: url("../src/assets/images/handsfreebanner.webp");
  background-size:cover ; 
  background-attachment: fixed;
  width: 100%;
    background-repeat: no-repeat;
     background-position: center;
  height: 100vh;

}
}

.bg{
    background-image: url("../src/assets/images/bg.webp");
  background-size:cover ; 
  background-attachment: fixed;
  width: 100%;
    background-repeat: no-repeat;
     background-position: center;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: blue;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: blue;
}


.text{
   color: white;
  font-size: 48px;
  font-weight: bold;
  text-shadow:
    -1px -1px 0 #0047AB	,
     1px -1px 0 #0047AB	,
    -1px  1px 0 #0047AB	,
     1px  1px 0 #0047AB	,
    -2px  0px 0 #0047AB	,
     2px  0px 0 #0047AB	,
     0px -2px 0 #0047AB	,
     0px  2px 0 #0047AB	;
}


/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  color: #0000;
  background: linear-gradient(90deg,blue calc(50% + 0.5ch),#000 0) right/calc(200% + 1ch) 100%;
  -webkit-background-clip: text;
          background-clip: text;
  animation: l7 2s infinite steps(11);
}

.loader:before {
  content:"Loading..."
}
@keyframes l7 {to{background-position: left}}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
}

.hover-underline-animation.left::after {
  transform-origin: bottom right;
}

.hover-underline-animation.left:hover::after {
  transform-origin: bottom left;
}

.hover-underline-animation.center::after {
  transform-origin: bottom center;
}

.hover-underline-animation.center:hover::after {
  transform-origin: bottom center;
}

.hover-underline-animation.right::after {
  transform-origin: bottom left;
}

.hover-underline-animation.right:hover::after {
  transform-origin: bottom right;
}

