@tailwind base;
@tailwind components;
@tailwind utilities;


h1{
    color: #1D1D1F;
}

[class^="number-slide"],
[class*=" number-slide"] {
  font-weight: 500;
}

body{
  background-color: #f6f6f6;
}



